/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body {
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: darkslategray;
  background-color: lightblue;

  letter-spacing: 1.2px;
  height: 700px;
}

.formz {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.formz > input[type="text"] {
  border: 3px solid #555;
  height: 2.5rem;
  width: 250px;
  margin: 0 auto;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
}

button {
  background-color: #008cba; /* Green */
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  border: none;
  border-radius: 0.5rem;
  letter-spacing: 2px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.8rem;
}
#lucky {
  margin-top: 1rem;
  width: 10.3rem;
  padding: 8px 32px;
  background-color: cadetblue;
}
img {
  display: block;
  margin: 0 auto;
  height: 400px;
}
.spriteContainer {
  display: flex;
  flex-wrap: wrap;
}
body > h1:nth-child(1) {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 3.5rem;
  font-weight: 700;
}

.choose {
  font-size: 2rem;
}
h2,
h3 {
  font-size: 1.5rem;
}
h3 {
  height: 200px;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
